
body{
  /* overflow-x: hidden; */
  margin: 1em;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnGwRu_KaAPw9gfsbAD-VPpaDwViK0CWUpQg&usqp=CAU");
} 
h1{
  border: 2px dashed #7cbcc4;
  padding: 1em 3em;
  border-radius: 0px 28px 127px 0px;
  background-color: #375d74;
  text-align: left;
  color: wheat;
  width: 20em;
  margin-left: -1em;
}
.App-title{
  float: right;
  border: 2px dashed #7cbcc4;
  padding: 1em 3em;
  border-radius: 28px 0px 0px 127px;
  background-color: #375d74;
  color: wheat;
  width: 20em;
  margin-right: -1em;
}
.App ,.App-header {
  text-align: center;
}
.container{
  display: flex;
  margin: 3em 15em;
}
img{
  height: 28.8em;
  width: 26em;

}
.input{
  height: 2em;
  width: 19em;
  margin: 7px;
  text-align: center;
  border-radius: 5px;
}
.btn{
  border: none;
  border-radius: 6px;
    background-color: #85aec0;
    width: 9em;
    height: 2.2em;
    margin: 10px;
}
.rightsection{
  position: relative;
  left: 16em;
  top: 4em;
}
.leftsection{
  margin-left: -4px;
  padding: 7em .5em;
  width: 20em;
  display: inline-block;
  background-color:#375d74;
}
table {
  border-radius: 2px;
  border-collapse: collapse;
}
thead {
	background-color: #85aec0;
	color: 375d74;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}
th, td {
  border: 1px solid black;
  padding: 7px 14px;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #85aec0;
}
.footer{
  position: relative;
  left: 0;
  bottom: -10em;
  width: 85em;
  height: 12em;
  margin: -1em;
}

@media screen and (min-width:200px) and (max-width:1000px) {
  h1{
      width: 4em;
  }
  .container{
    display: flex;
    flex-direction: column;
    margin: 3em 1em;
  }
  img {
    height: 15.8em;
    width: 20em;
}
.leftsection{
  padding: 1em 0.5em;
  margin-top: -1em;
  width: 19.4em;
}
.App-title{
  width: 3em;
}
.rightsection{
  left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
        /* Section three*/
                table, thead, tbody, th, td, tr { 
                        display: inline-block; 
                        text-align: left;
                }
                /* Section four*/
                thead tr { 
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                }
                
                tr { border-bottom: 1px solid #ccc; }
/* Section five*/
                td { 
                     border: none;
                     border-bottom: 1px solid #eee; 
                     position: relative;
                    padding: 5% 20%;
                }
                td:before { 
                        position: absolute;
                        top: 3px;
                        left: 6px;
                        width: 45%; 
                        padding-right: 10px; 
                        white-space: nowrap;
                        font-weight: bold;
                }
                /* Section six*/

}

/* Section seven*/
      

       
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body { 
          width: 495px; 
  }
}